* {
  box-sizing: border-box;
}

.green {
  border: 3px solid green;
}

.red {
  border: 3px solid red;
}

.blue {
  border: 3px solid blue;
}

.Onglets {
  overflow: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  align-items: center;
}